version: 2
updates:
  - package-ecosystem: 'npm' # Dependabot uses "npm" for both npm and pnpm projects
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    open-pull-requests-limit: 5
    labels:
      - 'dependencies'
    groups:
      minor-and-patch:
        update-types:
          - 'minor'
          - 'patch'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    open-pull-requests-limit: 3
    labels:
      - 'ci'
